body {
    background-image: url("repeatingwhite.jpeg");
    font-family: "Apple SD Gothic Neo";
    color: #f57835;
    background-color: orange;

}
h1,h2,h3{
    text-decoration: underline;
    text-decoration-color: darkgrey;
    padding-bottom: 20px;
}
h1 {
    color: #3ff5f0;
    border-bottom: 1px solid black;
    text-align: center;
    font-size: 45px;
    padding-top: 1em;
}
h2, h3 {
    color: blueviolet;
}
aside, em {
    font-family: sans-serif;
}

.bottom-border {
    border-bottom: 1px solid blueviolet;
}
ul {
    list-style: square;
}
ol {
    list-style: upper-latin;
}
q {
    font-weight: bold;
}
td, tr, table {
    font-size: 20px;
    padding-right: 40px;
    border: thin solid gray;
}
table {
    border: thin solid gray;
    border-collapse: collapse;
}
section>p{
    color: blue;
}
a:link{
    color: rebeccapurple;
}
a:visited{
    color: red;
}
a:hover {
    color: turquoise;
}
a:active {
    color: orange;
}
p::first-letter {
    font-size: 110%;
}
p {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}